@model ArticleIndexViewModel

<div class="d-flex flex-row gap-2 mb-4">
    <a asp-action="Create" class="btn btn-primary">Ajouter un article</a>
    <a asp-action="List" class="btn btn-primary">Afficher Tous</a>
</div>

@if (Model.Message is not null)
{
    <p>@Model.Message</p>
}

<vc:article-details article="@Model.Article" show-detail-btn="true" />
